* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    cursor: none;
}

.main {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
}

.score {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
}

.middleLine {
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.stick {
    width: 5px;
    border-radius: 5px;
    height: 100px;
    background-color: white;
    position: absolute;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    animation: dot 0.5s ease-out forwards;
}

.pauseText,
.gameOverText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    display: none;
}

.gameOverText {
    color: red;
}

.pauseText p,
.gameOverText p {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
